body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-converter {
    padding-bottom: 30px;
}

td {
    padding-bottom: 20px;
}

[type="number"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin-right: 30px;
    margin-left: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


h2 {
    margin-top: 30px;
}

.result {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
}